@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div style="background-color: beige; border-radius:8px; opacity:0.92">
        <h1 class="display-4" style="background-color:beige; border-radius:8px">¿Qué está pasando?</h1>
       <textarea cols="70" rows="15"></textarea>
        <form asp-action="Importar" enctype="multipart/form-data">
            <div class="form-group">
                <input name="archImportar" id="archImportar" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Subir" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
